@charset "UTF-8";

:root {
  --nav-bg: #663d54;
  --nav-links: #ffc600;
  --text-links: #40a2d1;
  --band-links: #40a2d1;
  --light-text: #909c9f;
  --dark-text: #333333;
  --note-links: #700941;
  --text-white: #fff;
  --dark-purple: #330f26;
}

* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  color: #000;
  background-color: #efefef;
  background-repeat: no-repeat;
  background-position: center top;
}

a img {
  border: none;
}

a:link,
a:visited,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
}

.container {
  width: 1040px;
  margin: 0 auto;
}

/* header styles */
.header {
  height: 259px;
  background: transparent;
  margin: 0;
  padding: 0;
  margin-bottom: 70px;
}

.header ul {
  list-style: none;
  float: left;
  width: 100%;
  margin-top: 233px;
  background: var(--nav-bg);
}
.header-container {
  max-width: 1040px;
  margin: auto;
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: space-between;
}

.header ul button {
  background: none;
  outline: none;
  border: none;
  transition: 200ms;
  appearance: none;
  -webkit-appearance: none;
}
.header li a,
.header ul button {
  color: var(--nav-links);
  cursor: pointer;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  transition: 200ms;
  font: 16px/22px BrandonGrotesqueMedium, Arial, San-Serif;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}
.header li a:hover,
.header li button:hover {
  color: var(--text-white);
  background: var(--dark-purple);
}
.header ul img,
.header ul button img {
  width: 18px;
  height: 18px;
  display: block;
}

/* seasons nav button and seasons menu styles */
#seasons-nav {
  position: relative;
  display: flex;
  align-items: center;
}
#seasons-nav .carrot {
  width: 10px;
  height: 10px;
  margin-left: 7px;
  margin-top: 3px;
}
#seasons-nav .seasons-menu {
  position: absolute;
  background: var(--dark-purple);
  z-index: 10;
  top: 50px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  min-width: 270px;
  justify-content: space-between;
  box-sizing: border-box;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 300ms, opacity 300ms;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#seasons-nav .seasons-menu-active {
  opacity: 1;
  visibility: visible;
  transition: visibility 0s linear 0s, opacity 300ms;
}
#seasons-nav button.seasons-nav-active {
  background: var(--dark-purple);
  color: var(--text-white);
}
/* fixes flex space-between if only 2 items */
#seasons-nav .seasons-menu::after {
  content: '';
  width: 60px;
}
#seasons-nav .seasons-menu a {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0;
  align-items: flex-start;
}
#seasons-nav .seasons-menu a:hover > .season-year {
  color: var(--text-links);
}
#seasons-nav .seasons-menu a:hover > .season-number {
  color: var(--text-white);
}

#seasons-nav .seasons-menu .season-number {
  font-size: 12px;
  transition: 200ms;
}

#seasons-nav .seasons-menu .season-year {
  color: var(--text-white);
  font-weight: bold;
  transition: 200ms;
}
.twentytwelve .content {
  padding: 0;
}

.twentytwelve .episode {
  background-color: var(--text-white);

  /* box-shadow: inner 0 0 5px #888; */
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  margin: 15px 8px 30px 8px;
  border-radius: 10px;
}

.twentytwelve .about {
  background-color: #fff;
  -moz-box-shadow: inset 0 0 5px #888;
  -webkit-box-shadow: inset 0 0 5px#888;
  box-shadow: inner 0 0 5px #888;
  margin: 15px 8px 30px 8px;
  padding: 15px;
}

/* latest episode download  */
.twentytwelve .download {
  height: 80px;
  width: 100%;
  /* background: url(../images/episode-header.png) no-repeat top center; */
  background-size: 1024px 68px;
  background: var(--nav-bg);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.twentytwelve .download a {
  text-align: center;
  color: var(--nav-links);
  text-transform: uppercase;
  font-family: BrandonGrotesqueBlack, Arial, San-Serif;
  font-size: 14px;
}
.twentytwelve .download span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
.twentytwelve .download span img {
  margin-right: 7px;
  width: 13px;
  height: 13px;
}

.twentytwelve .download h2,
.twentytwelve .download h2 a {
  text-transform: uppercase;
  font: 24px/23px BrandonGrotesqueBlack, Arial, San-Serif;
  color: var(--text-white);
  text-align: center;
  z-index: 50;
  /* padding: 32px 0 20px; */
}

.twentytwelve .download h2:hover {
  color: #be1e2d;
}

.twentytwelve .download .permalink {
  float: right;
  margin: -75px 30px 0 0;
  height: 34px;
  width: 134px;
  background: transparent url(../images/permalink.png) no-repeat top left;
  background-size: 268px 34px;
  display: block;
  z-index: 100;
}

.twentytwelve .download .permalink:hover {
  background: transparent url(../images/permalink.png) no-repeat top right;
  background-size: 268px 34px;
}

.specialepisode {
  font-size: 18px;
  line-height: 24px;
  padding: 15px;
  font-weight: bold;
  color: darkred;
  text-align: center;
}

.twentytwelve .download .specialepisode {
  float: left;
  margin: -75px 0 0 0;
  height: 34px;
  width: 185px;
  background: transparent url(../images/special-episode.png) no-repeat top left;
  background-size: 185px 34px;
  display: block;
  z-index: 100;
}

.twentytwelve .episode h6 {
  padding: 8px 15px;
  margin: 5px 0 -5px 0;
  font: 20px/22px BrandonGrotesqueBold, Arial, San-Serif;
  color: #be1e2d;
  text-align: center;
  text-transform: uppercase;
}

.twentytwelve div.song {
  float: left;
  width: 225px;
  margin: 0px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  background-image: url(../images/album-shadow.png);
  background-size: 240px 240px;
  background-repeat: no-repeat;
  background-position: 9px 8px;
}

/* XXXX - this will match the first item on the row and clear it*/
.twentytwelve .songs > div.song:nth-of-type(4n + 1) {
  clear: both;
}

/* XXXX - this will match the last item single column*/
.twentytwelve .songs > div:nth-child(4n):last-child {
}

/* XXXX - this will match the last item that should be a single column*/
.twentytwelve .songs > div:nth-child(4n):last-child[class='note'] {
  width: 205px;
}

/* XXXX - this will match the last item that should be a double column*/
.twentytwelve .songs > div:nth-child(4n + 3):last-child[class='note'] {
  width: 460px;
}

/* XXXX - this will match the last item that should be a triple column*/
.twentytwelve .songs > div:nth-child(4n + 2):last-child[class='note'] {
  width: 715px;
}

/* XXXX - this will match the last item that should be four columns wide*/
.twentytwelve .songs > div:nth-child(4n + 1):last-child[class='note'] {
  width: 975px;
  clear: both;
}

.twentytwelve .song {
  font: 16px/22px BrandonGrotesqueLight, Arial, San-Serif;
  color: #909c9f;
}

.twentytwelve .song a {
  color: #40a2d1;
  text-decoration: none;
}

.twentytwelve .song ul {
  margin-top: 5px;
  list-style-type: none;
}

.twentytwelve .song li {
}

.twentytwelve .song .band a {
  font: 20px/22px BrandonGrotesqueBold;
  color: #be1e2d;
  text-decoration: none;
}

.twentytwelve .song .band em {
  font: 16px/22px BrandonGrotesqueRegular;
  color: #333;
  text-decoration: none;
}

.twentytwelve .song span {
  font: 16px/22px BrandonGrotesqueRegular;
  color: #333;
}

.twentytwelve .song .album {
  font: 16px/22px BrandonGrotesqueRegular;
  color: #333;
}

.twentytwelve .song .album em {
  font: 16px/22px BrandonGrotesqueMediumItalic;
}

.twentytwelve .song .similar {
  font: 16px/22px BrandonGrotesqueLight;
  color: #727272;
}

.twentytwelve .song .similar a {
  font: 16px/22px BrandonGrotesqueMedium;
  color: #40a2d1;
  text-decoration: none;
}

.twentytwelve .song a:hover,
.twentytwelve .song a:active {
  color: #3f5ac9;
  text-decoration: underline;
}

.twentytwelve .note {
  float: left;
  background-color: #f9f0da;
  -moz-box-shadow: inset 0 0 5px #888;
  -webkit-box-shadow: inset 0 0 5px #888;
  box-shadow: inner 0 0 5px #888;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  min-width: 205px;
  margin: 15px;
}

.twentytwelve .note h1 {
  text-transform: uppercase;
  font: 16px/23px BrandonGrotesqueBlack;
  color: #3b2314;
}

.twentytwelve .note p {
  font: 16px/23px BrandonGrotesqueRegular;
}

.twentytwelve .note strong {
  font: 16px/23px BrandonGrotesqueBold;
}

.twentytwelve .note em {
  font: 16px/23px BrandonGrotesqueMediumItalic;
}

.twentytwelve .note a {
  color: #700941;
}

.twentytwelve .note a:hover,
.twentytwelve .note a:active {
  color: #3f5ac9;
  text-decoration: underline;
}

.twentytwelve .clear {
  clear: both;
}

/* ~~ footer ~~ */
.twentytwelve .footer {
  width: 1024px;
  clear: both;
}

.twentytwelve #footer .oldershows {
  float: left;
  margin: 0 0px 0px 30px;
  height: 34px;
  width: 158px;
  background: transparent url(../images/older-shows.png) no-repeat top left;
  background-size: 316px 34px;
  display: block;
}

.twentytwelve #footer .oldershows:hover {
  background: transparent url(../images/older-shows.png) no-repeat top right;
  background-size: 316px 34px;
}

.twentytwelve #footer .newershows {
  float: right;
  margin: 0 30px 0px 0px;
  height: 34px;
  width: 158px;
  background: transparent url(../images/newer-shows.png) no-repeat top left;
  background-size: 316px 34px;
  display: block;
}

.twentytwelve #footer .newershows:hover {
  background: transparent url(../images/newer-shows.png) no-repeat top right;
  background-size: 316px 34px;
}

.twentytwelve .about p {
  font: 17px/22px BrandonGrotesqueRegular, Arial, San-Serif;
  color: #333;
  margin-bottom: 15px;
  width: 626px;
  text-align: justify;
}

.twentytwelve .about h1 {
  font: 22px/22px BrandonGrotesqueBold, Arial, San-Serif;
  color: #3b2314;
  margin-bottom: 10px;
  width: 626px;
}

.twentytwelve .about a:link {
  color: #40a2d1;
  text-decoration: none;
}

.twentytwelve .about a:hover,
.twentytwelve .about a:active {
  color: #3f5ac9;
  text-decoration: underline;
}

.twentytwelve .about img {
  margin: 0 0 10px 0;
}

.twentytwelve .about img.blank {
  float: right;
}

/* ~~ episode footer ~~ */

.episodeFooter .oldershows {
  float: left;
  margin: 0 0px 0px 30px;
  height: 34px;
  width: 158px;
  background: transparent url(../images/older-shows.png) no-repeat top left;
  background-size: 316px 34px;
  display: block;
}

.episodeFooter .oldershows:hover {
  background: transparent url(../images/older-shows.png) no-repeat top right;
  background-size: 316px 34px;
}

.episodeFooter .newershows {
  float: right;
  margin: 0 30px 0px 0px;
  height: 34px;
  width: 158px;
  background: transparent url(../images/newer-shows.png) no-repeat top left;
  background-size: 316px 34px;
  display: block;
}

.episodeFooter .newershows:hover {
  background: transparent url(../images/newer-shows.png) no-repeat top right;
  background-size: 316px 34px;
}

/*#search, #submit {float: left; margin-top: 2px;}

#search {
        padding: 2px 0px 2px 6px;
        height: 12px;
        width: 70px;
        border: 1px solid #FFC600;
        font: normal 13px/12px BrandonGrotesqueMedium, Arial, san-serif;
        background: #F3F4F2;
		color: #664355;
        -webkit-border-radius: 10px 0px 0px 10px;
		-moz-border-radius: 10px 0px 0px 10px;
         border-radius: 10px 0px 0px 10px;
		 -webkit-appearance: none;
}

#submit {
        background: #FFC600;
        -webkit-border-radius: 0px 10px 10px 0px;
		-moz-border-radius: 0px 10px 10px 0px;
        border-radius: 0px 10px 10px 0px;
        border: 1px solid #FFC600;
        height: 18px;
        padding: 0;
        width: 60px;
        cursor: pointer;
        font: normal 11px/11px  BrandonGrotesqueBold, Arial, san-serif;;
        color: #333;
		text-transform: uppercase;
}

#submit:hover {
	color: #e5e5e5;
    background: #56868F;
	border: 1px solid #56868F;
}       

#submit:active {
	color: #e5e5e5;
	background: #40A2D1;
	outline: none;
	 border: 1px solid #4f9ba9;
}

#submit::-moz-focus-inner {
       border: 0;  /* centering fix for Firefox */
/*	   -webkit-appearance: none;
}*/
